// Main
main {
    margin: 0 24px; // Horizontal white space for page content
    @media (max-width: $screen-sm) { // No white space for phones
        margin: 0 auto;
    }
    section.item-list {
        margin: 0 auto;
        width: $screen-lg;
        @media (max-width: $screen-lg) {
            width: $screen-md;
        }
        @media (max-width: $screen-md) {
            width: $screen-sm;
        }
        @media (max-width: $screen-sm) {
            width: $screen-xs;
        }
        @media (max-width: $screen-xs) {
            width: 420px;
        }
        display: grid;
        grid-gap: 8px;
        article {
            padding: 0;
            display: grid;
            grid-template-columns: 1fr 3fr;
            figure {
                text-align: center;
            }
            figcaption {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: auto;
                grid-gap: 4px;
                .title {
                    grid-row: 1;
                    grid-column: 1 / 3;
                }
                .author {
                    grid-row: 2;
                    grid-column: 1;
                }
                .published {
                    margin: 0;
                    grid-row: 2;
                    grid-column: 2;
                }
                .link {
                    grid-row: 2;
                    grid-column: 3;
                }
                @media (max-width: 800px) {
                    .published {
                        grid-row: 2;
                        grid-column: 1 / 3;
                    }
                    .author {
                        grid-row: 3;
                        grid-column: 1;
                    }
                    .link {
                        grid-row: 3;
                        grid-column: 2;
                    }
                }
            }
        }
    }
}
