// General global styles
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 14px;
    a {
        color: $link-color;
        text-decoration: none;
        &:hover {
            color: $link-color-hover;
        }
    }
    .btn {
        margin: 0 auto;
        border-radius: 4px;
        // background: $link-color;
        // border-color: $link-color;
        &:hover {
            // background: $link-color-hover;
            // border-color: $link-color-hover;
            cursor: pointer;
        }
        &::-moz-focus-inner { // Remove grey dotted line
            border: 0;
        }
    }
}

// Top level element
.page-wrapper {
    .themer {
        display: grid;
        grid-gap: 64px;
    }
    .light {
        color: $font-color-light;
        background-color: $bg-color-light;
        header {
            box-shadow: 0 6px 6px -4px #ccc;
        }
        article {
            border-bottom: 2px solid $accent-color-light;
        }
        footer {
            box-shadow: 0 -4px 6px 4px $shadow-color-light;
        }
    }
    .dark {
        color: $font-color-dark;
        background-color: $bg-color-dark;
        header {
            box-shadow: 0 6px 6px -4px $shadow-color-dark;
        }
        article {
            border-bottom: 2px solid $accent-color-dark;
        }
        footer {
            box-shadow: 0 -4px 6px 4px $shadow-color-dark;
        }
    }
}
