// Reusable sassy variables

// Breakpoints
$screen-lg: 1200px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-xs: 576px;

$link-color: #575;
$link-color-hover: #5c5;

// Light theme
$font-color-light: #333;
$accent-color-light: #faa;
$bg-color-light: #f0eee5;
$shadow-color-light: #ccc;

// Dark theme
$font-color-dark: #dcd;
$accent-color-dark: #ccf;
$bg-color-dark: #222;
$shadow-color-dark: #112;
